%h1 Listing poems

= search_form_for @q do |f|
  = f.label :text_cont
  = f.text_field :text_cont
  = f.submit
end

%table
  %thead
    %tr
      %th Johnson
      %th Title
  %tfoot
    %tr
      %th Johnson
      %th Title
  - @poems.each do |poem|
    %tr
      %td= poem.johnson
      %td= link_to poem, poem

= paginate @poems

%br
