<h1>
  Listing poems
</h1>
<h2 class="search-query">Search by text in poem</h2>
<%= search_form_for(@q, html: { class: 'search-query' }) do |f| %>
  <%= sort_link(@q, :johnson, 'Johnson', default_order: :asc) %>
  <div class="form-group">
    <%= f.label :plain_text_cont, class: "sr-only" %>
    <%= f.search_field :plain_text_cont, placeholder: "Text contains", class: "form-control" %>
  </div>

  <%= f.submit 'Search', class: 'btn btn-primary' %>
<% end %>
<div id="paginator">
  <%= paginate @poems %>
</div>

<table class="table table-condensed table-hover">
  <caption>List of Poems</caption>
  <thead>
    <tr>
      <th>Johnson</th>
      <th>Title</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="2">
        List of Poems
      </th>
    </tr>
  </tfoot>
  <tbody id="poems-list">
    <%= render @poems %>
  </tbody>
</table>

      <p>Taken from Wikisource</p>
