<p id="notice">
<%= notice %>

</p><div class="h3">
<b>Johnson #</b>
<%= @poem.johnson %>

</div><div class="h3">
<b>Text</b>
<%= @poem.text&.html_safe %>

</div><div class="h3">
<b>Plain Text</b>
<pre>
<%= @poem.plain_text&.html_safe %>

</pre></div><%= link_to 'Back', poems_path %>
