<% _slim_controls1 = simple_form_for [:admin, @poem] do |f|
 %><%= f.error_notification %>

<div class="form-inputs">
<%= f.input :title %>
<%= f.input :text, class: 'ckeditor' %>
<%= f.input :plain_text %>
<%= f.input :johnson %>
<%= f.input :franklin %>

</div><div class="form-actions">
<%= f.button :submit %>
</div><% end %><%= _slim_controls1 %>
