<!DOCTYPE html>
<html>
<head>
  <title>PoetrySite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container">
    <%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
    <%= yield %>
  </div>

  <div>
    <%= debug params if Rails.env.development? %>
  </div>

</body>
</html>
