<!DOCTYPE html>
<html>
<head>
  <title>PoetrySite</title>
  <%= stylesheet_link_tag    "application", :media => "all", :"data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container">
    <%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
    <%= yield %>
  </div>

  <div>
    <%= debug params if Rails.env.development? %>
  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2331179-5']);
  _gaq.push(['_setDomainName', 'atomsign.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
